@import "../utilities/mediaQueries";

.carrito {
    @include tablet {
        height: 50rem;
        padding-left: 0;
        padding-right: 0;
    }
    @include desktop {
        height: 110rem;
        padding-left: 0;
        padding-right: 0;
    }
    .col-lg-4 {
        @include desktop {
            width: 45rem;
        }
    }

    .articleEnvio {
        height: 190px;
        justify-content: start;
        align-content: center;
    }
    .formEnvio {
        width: 750px;
    }

    .articleProductos {
        position: absolute;
        left: 870px;
        top:100px;
        .productos {
            height: auto;
            width: 400px;
            padding-left: 20px;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 20px;
            .listProductos {
                margin-right: 0px;
                margin: 10px 0px 10px 0px;
                .precioProdFinalizar {
                    position: absolute; 
                    width: 80px;
                    font-weight: 700;
                    left: 260px;
                    top: 5px;
                    .textPrecioProd {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .imgCamion {
        width: 40px;
    }
    .imgTarjeta {
        width: 40px;
    }
    .textDomicilio {
        vertical-align: auto;
    }

    .envios {
        height: 120px;
        width: 400px;
        padding-left: 20px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 20px;
        .listEnvios {
            margin-right: 0px;
            margin: 10px 0px 10px 0px;
            .form-check-input {
                width: 1.5rem;
                height: 1.5rem;
            }
            .form-check-label {
                width: 180px;
                padding-left: 10px;
            }
            .precioEnvio {
                width: 100px;
                font-weight: 700;
                left: 260px;
                top: 5px;
                .textPrecio {
                    font-size: 1.8rem;
                }
            }
        }
    }
    .mediosDePago {
        height: 210px;
        width: 365px;
        padding-left: 20px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 20px;
        .listPagos {
            margin-right: 0px;
            margin: 10px 0px 10px 0px;
            .form-check-input {
                width: 1.5rem;
                height: 1.5rem;
            }
            .form-check-label {
                width: 180px;
                padding-left: 10px;
            }
            .iconosPagos {
                width: 80px;
                font-weight: 700;
                left: 245px;
                top: 5px;
            }
            .iconosPagosMP {
                left: 200px;
                top: 8px;
                .MP {
                    width: 120px;
                    height: 35px;
                }
            }
        }
        .habilitado {
            width: auto;
            height: 40px; 
        }
        .anulado {
            background-color: rgba(116, 113, 113, 0.596);
            width: auto;
            height: 50px;
        }
    }
    .articleTotal {
        display: flex;
        flex-direction: column;
        height: 120px;
    }
    .containerTotal {
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items:flex-end;
    }
    .textTotal {
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        .total {
            font-size: 2rem;
            font-weight: 700;
            padding-right: 20px;
        }
    }
    .containerBtnCarrito {
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items:flex-end;
        .btnCarrito {
            width: 100px;
            background-color: #F97C7C;
            border-radius: 44px;
            color: white;
            font-size: 1.5rem;
            transition: all 1s;
            @include tablet {
                width: 30rem;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .linkBoton {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
}